body {background: red;}


@media(max-width:768px) {body {background: blue;}}
@media(max-width:500px) {body {background: rgb(123, 243, 159);}}


.name {color: green;
margin-left: 75px;
padding-top: 20px;}


.box img {width: 300px;
height: 300px;}

.box {
    padding-top: 75px;
    padding-left: 100px;
}

.text {
    padding-left: 75px;
padding-top: 10px;
color: green;

}

ul{list-style-type: none;
margin: 0;
padding:0;
overflow: hidden;
background-color: rgb(81, 221, 81);
position: fixed;
bottom: 0;
width: 100%;
}

li {float:left;}


li a {display: block;
color: white;
text-align: center;
padding: 10px 14px;
text-decoration: none;}

li a:hover:not(.active) {
    background-color: rgb(193, 243, 193);
}

li a.active {color: white;
background-color: rgb(148, 240, 148);}


ul {list-style-type: none;
    margin: 0 ;
    padding: 3px;
    overflow: hidden;
    background-color: rgb(81, 221, 81);
    position: fixed;
    bottom: 0;
    width: 100%;
}

li {float: left;}

li a {display: block;
    padding-left: 50px;
color: white;
text-align: center;

text-decoration: none;}

li a:hover:not(.active) {background-color: rgb(193,243,193);}

.active {background-color: rgb(148,240,148);}

#button {position: absolute;
right: 50px;}

#picture {position: absolute;
margin-top: 270px;}








